<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/stylesLogin.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">DAILY JOURNAL</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li id="home"><a href="/">HOME</a></li>
          <li id="about"><a href="/about">ABOUT US</a></li>
          <li id="contact"><a href="/contact">CONTACT ME</a></li>
        </ul>
    </div>
  </nav>

  <body>
    <div class="container">
      <main class="form-signin">
        <form  class="" action="/authenticate" method="post">
          <img class="mb-4" src="/public/img/library.jpg" alt="" width="72" height="57">
          <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

          <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput" name="id" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" name="pw" placeholder="Password">
            <label for="floatingPassword">Password</label>
          </div>

          <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        </form>
          <button class="w-100 btn btn-lg btn-primary" id="signUp">Sign up</button>
          <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
          <script type="text/javascript">
              document.getElementById("signUp").onclick = function () {
                location.href = "/register";
              };
          </script>
      </main>

<%-include('partials/footer'); -%>